$black_434 : #434343;
$black_002 : #00242C;

$blue_25B : #25B1D8;
$blue_D8E : #D8EFFF;

$white : #FFFFFF;


$red_F73: #F73E3E;


$orang_FF8: #FF8F5D;
$orang_FF6: #FF6B29;
$orang_FF5: #FF5E14;


$pink_FA9: #FA9DB7;