.course {
	background: white;
	z-index: -2;

	.banner-btn {
		display: flex;
		justify-content: space-between;

		a {
			padding: 12px 12px;
			font-weight: 700;
		}

	}

	&--2 {
		background: white !important;

		.course__inner {
			box-shadow: unset !important;
		}



	}

	&--1 {
		margin: 60px 0px;

		.card-img {
			position: relative;
		}

		h3 {
			font-size: 19px !important;
			display: inline-block;
			font-weight: 700 !important;
			margin-bottom: 5px !important;
		}

		.course {
			&__inner {
				box-shadow: 3px 4px 4px rgb(0 0 0 / 10%);
				padding: 30px 20px;
				height: 100%;
				margin-top: 3rem;
			}

			&__view {
				margin-top: 20px;

				li {
					color: #00242C;
					font-size: 16px;
					margin-right: 20px;
				}

				li:last-child {
					position: relative;

					&:before {
						position: absolute;
						background: #00242C;
						width: 5px;
						content: "";
						height: 5px;
						left: -15px;
						top: 9px;
						border-radius: 100%;
					}

				}

			}

			&__rowtitle {
				p {
					margin-top: 25px;
				}

			}

			&__border {
				width: 330px;
				height: 220px;
				position: unset;
			}

			&__text {
				margin-top: 20px;
			}

			&__col {
				margin-bottom: 30px;
			}

		}

		img {
			border-radius: 40px;
			position: absolute;
			left: 10px;
			top: 10px;
			width: 330px;
			height: 220px;
			object-fit: cover;
		}

	}

	&__row {
		margin-top: 2rem;
	}

	&__rowtitle {
		flex-wrap: wrap;
	}

	&__title {
		color: #009EC9;
		font-weight: 500;
	}

	&__subtitle:nth-child(3), span {
		&:after {
			position: absolute;
			height: 11px;
			width: 52%;
			border-radius: 20px;
			content: "";
			background: #4CCAED;
			left: 50%;
			transform: translateX(-50%);
			bottom: 11px;
			z-index: -1;
		}

	}

	span {
		position: relative;
		overflow: hidden;
		z-index: 0;
		font-size: 30px;

		@media (max-width:991px) and (min-width:798px) {
			font-size: 25px !important;
		}

		@media (max-width:798px) {
			font-size: 20px !important;
		}

		&:after {
			width: 100%;
			bottom: 8px;
		}

	}

	&__subtitle {
		font-weight: 700;
		position: relative;
	}

	h3 {
		font-size: 30px;
		font-weight: 500;
		margin-bottom: 2rem;

		@media(max-width:650px) {
			font-size: 25px;
		}

	}

	&__inner {
		position: relative;
		z-index: 0;
	}

	a {
		display: inline-block;
		padding: 12px 4rem;
		background-color: #25b1d8;
		color: #fff;
		border-radius: 30px;
		font-size: 16px;
		font-weight: 500;
		transition: 0.5s;
		position: relative;
		z-index: 1;
		overflow: hidden;
		margin-top: 2rem;
	}

	&__col {
		margin-bottom: 3rem;
	}

	&__icon {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	&__img {
		padding: 0px 30px;

		img {
			border-radius: 40px;
			z-index: 0;
		}

	}

	&__border {
		border-radius: 40px;
		border: 1px dashed #25B1D8;
		height: 100%;
		width: 100%;
		position: absolute;
		top: -15px;
		left: -15px;
		z-index: -1;
	}

}

.learninglibrary {
	background: #D8EFFF;
	padding: 15px 0px;

	h2 {
		font-weight: 700;
	}

	.breadcrumb {
		background: unset;
		justify-content: center;

		li, a {
			font-size: 18px;
		}

		li.active {
			color: black;
			font-weight: 700;
		}

		.breadcrumb-item+.breadcrumb-item::before {
			color: black;
		}

	}

}